.doctor-schedule-container {
    .all-schedule {
        margin: 11px 0;
        &__select {
            border: none;
            border-bottom: 1px solid #337ab7;
            color: #337ab7;
            font-weight: 600;
            font-size: 1.6rem;
        }
    }

    .all-available-time {
    }

    .text-calendar {
        margin-top: 10px;
        &__title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.5rem;
        }
    }

    .time-content {
        display: flex;
        flex-wrap: wrap;
        &__icon {
            background-color: #fff04b;
            border: none;
            margin-right: 5px;
            margin-top: 10px;
            padding: 10px 9px;
            font-weight: 500;
            min-width: 24%;
            border-radius: 3px;
            &:hover {
                color: #45c3d2;
            }
        }
    }
}
