.doctor-detail-container {
    padding: 0 145px;
    height: 500px;
    border-top: 1px solid #ccc;
}

.intro-doctor {
    display: flex;
    height: 200px;
    &__left {
        width: 20%;
        display: flex;
    }
    &__right {
        width: 80%;
        margin-top: 25px;
    }
    &__avt {
        margin: auto;
    }
    &__title {
        font-size: 2rem;
        font-weight: 600;
    }
    &__desc {
        width: 60%;
        margin-top: 5px;
    }
    &__interactive {
        display: flex;
        margin-top: 10px;
        &-item {
            padding: 1px 10px;
            margin-right: 10px;
            background-color: #1877f2;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.detail-info-doctor li {
    list-style-type: none;
}

.schedule-doctor {
    display: flex;
    height: 200px;
    .content-left {
        width: 50%;
        border-right: 2px solid #45c3d2;
    }
    .content-right {
        width: 50%;
    }
}
