.section {
    height: 320px;
    background-color: #fff;
    display: flex;
    border-bottom: 3px solid #efeef5;
    &-content {
        width: 75%;
        margin: auto;
        &__wrapper {
            display: flex !important;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
        }
        &__img-customize {
            background-image: url("../../assets/images/homepage/doctor-outstanding/90090530_142142810611416_5131193243317794399_n.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__title {
            margin-top: 5px;
            text-decoration: none;
            color: #111111;
        }
        &__subtitle {
            font-size: 1.3rem;
            margin-top: 5px;
        }
    }
    &-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__btn {
            height: 45px;
            width: 100px;
            outline: none;
            border: none;
            background-color: #ebebeb;
            color: #282e41;
            margin-right: 42px;
            border-radius: 5px;
            &:hover {
                cursor: pointer;
                color: #fff;
                background: #f7d800;
            }
        }
    }
    &-title {
        font-size: 2.5rem;
        font-weight: 550;
        margin: 25px 30px;
    }
    &--background-color {
        background-color: #eee;
    }
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 40% !important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 43px !important;
    line-height: 1;
    opacity: 0.75;
    color: #ccc !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -12px;
}
