* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.booking-container {
    margin: 0;
    padding: 0;
}

.header {
    height: 78px;
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    position: relative;
    background-color: #fff;
}

.sidebar-logo {
    display: flex;
}

.sidebar {
    line-height: 78px;
    margin-right: 8px;
    margin-top: 5px;
    &__icon {
        font-size: 2.5rem;
        color: #969495;
        cursor: pointer;
    }
    &__container {
        display: none;
        position: fixed;
        top: 0;
        left: 0px;
        height: 100%;
        background-color: #fff;
        z-index: 2;
    }
    &__list {
        width: 260px;
        padding: 0;
    }
    &__item {
        line-height: 40px;
        list-style-type: none;
        & > a {
            margin-left: 15px;
            text-decoration: none;
            font-size: 1.8rem;
            color: #45c3d2 !important;
            display: inline-block;
        }
        border-bottom: 1px solid rgb(238, 236, 236);
        &--border-top {
            border-top: 1px solid #ccc;
        }
        &-about {
            display: flex;
            color: #555;
            background-color: #f1f1f1;
            text-transform: uppercase;
            height: 35px;
            align-items: center;
            padding-left: 15px;
            font-weight: lighter;
        }
    }

    &__social-network {
        margin-left: 25px;
        &-fb {
            color: #1877f2;
            font-size: 3.5rem;
        }

        &-yt {
            margin-left: 8px;
            color: #ff4e45;
            font-size: 3.5rem;
        }
    }

    &__overlay {
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 124%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        z-index: 1;
    }
}

.logo {
    line-height: 78px;
    width: 170px;
    background-image: url("../../assets/images/homepage/logo.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    margin-left: 10px;
}

.navbar {
    &-item {
        margin-right: 25px;
        &__title > a {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 600;
            color: #333333;
        }

        &__subtitle {
            color: #333333;
            font-weight: lighter;
        }
    }
}

.contact {
    line-height: 78px;
    &__title > a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        color: #969495;
    }
    &__icon {
        margin-right: 5px;
        font-size: 1.5rem;
        padding: 5px 7px;
        background-color: #45c3d2;
        border-radius: 50%;
        color: #fff;
    }
}

.language {
    display: flex;
    flex-direction: column;
    width: 100px;
    line-height: 78px;
    cursor: pointer;
    &:hover .language-list {
        display: block;
    }
    &-title {
        display: flex;
    }
    &-list {
        display: none;
        position: absolute;
        z-index: 2;
        background-color: #fff;
        top: 50px;
        right: 5px;
        line-height: 55px;
        width: 100px;
        border-radius: 5px;
        padding: 0;
    }
    &-item {
        display: flex;
        padding: 0 10px;
        &:hover {
            color: #45c3d2;
            border-radius: 5px;
        }
    }
    &-vi {
        background-image: url("../../assets/images/homepage/vietnam.png");
        width: 20px;
        height: 20px;
        background-size: contain;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        margin-top: 18px;
        margin-left: 5px;
    }
    &-en {
        background-image: url("../../assets/images/homepage/united-kingdom.png");
        width: 20px;
        height: 20px;
        background-size: contain;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        margin-top: 18px;
        margin-left: 5px;
    }
}

.banner {
    background-image: url("../../assets/images/homepage/bookingcare-cover-4.jpg"),
        linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
    width: 100%;
    height: 528px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    filter: contrast(90%);
    &-title {
        padding-top: 45px;
        text-transform: uppercase;
        font-size: 3.2rem;
        color: #fff;
        text-shadow: 1px 1px 1px #333;
        text-align: center;
    }
    &-search {
        padding-top: 50px;
        width: 100%;
        display: flex;

        &__input {
            width: 35%;
            margin: auto;
            background-color: #f7d800;
            padding: 10px 20px 0 20px;
            border-radius: 36px;
            &-btn {
                height: 40px;
                width: 46px;
                border: none;
            }
            &-form {
                width: 35px;
                height: 40px;
                font-size: 1.7rem !important;
                background-color: transparent;
                border: none;
            }
        }
    }
    &-download {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        &__icon {
            width: 145px;
            height: 44px;
            background-size: contain;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            &-chplay {
                background-image: url("../../assets/images/homepage/CHPlay.svg");
            }
            &-appstore {
                background-image: url("../../assets/images/homepage/Appstore.svg");
            }
        }
    }
    &-category {
    }
    &-list {
        display: flex;
        justify-content: space-around;
        padding: 80px 180px 0 180px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    }
    &-item {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        height: 112px;
        &__img {
            padding: 12px 12px;
            background-color: #fff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-size: contain;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            &-1 {
                background-image: url("../../assets/images/homepage/khamchuyenkhoa.png");
            }
            &-2 {
                background-image: url("../../assets/images/homepage/khamtuxa.png");
            }
            &-3 {
                background-image: url("../../assets/images/homepage/khamtongquat.png");
            }
            &-4 {
                background-image: url("../../assets/images/homepage/dichvuxetnghiem.png");
            }
            &-5 {
                background-image: url("../../assets/images/homepage/suckhoetinhthan.png");
            }
            &-6 {
                background-image: url("../../assets/images/homepage/khamnhakhoa.png");
            }
            &-7 {
                background-image: url("../../assets/images/homepage/phau-thuat.jpg");
            }
            &-8 {
                background-image: url("../../assets/images/homepage/khamtainha.png");
            }
        }
        &__title {
            width: 104px;
            text-align: center;
            font-weight: 500;
            & > a {
                text-decoration: none;
                color: #333333;
                font-size: 1.8rem;
                &:hover {
                    color: #45c3d2;
                }
            }
        }
    }
}
